body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 20px;
}

.search-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin: 0 auto;
    max-width: 600px;
}

.form-control {
    border-radius: 20px;
}

.google-logo {
    width: 200px; /* Adjust the size as needed */
    margin-top: 20px;
}

.form-row {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 0; /* Remove default margin */
}
